{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png"
                     class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room-image">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Quarter</h1>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
                    est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                    voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis
                    aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
                    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus
                    maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="#!" id="check-availability-btn" class="btn btn-success">Check Availability</a>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        document.getElementById("check-availability-btn").addEventListener("click", function () {
            let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled type="text" required class="form-control" id="start" placeholder="Arrival" name="start">
                        </div>
                        <div class="col">
                            <input disabled type="text" required class="form-control" id="end" placeholder="Departure" name="end">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        `
            attention.custom({msg: html, title: "Choose Date",
                willOpen: () => {
                    const elem = document.getElementById('reservation-dates-modal');
                    const rp = new DateRangePicker(elem, {
                        format: 'dd-mm-yyyy',
                        showOnFocus: true
                    })
                },
                didOpen: () => {
                    document.getElementById('start').removeAttribute('disabled');
                    document.getElementById('end').removeAttribute('disabled');
                },
                callback: function (result) {
                    console.log("called");
                    let form = document.getElementById("check-availability-form");
                    let formData = new FormData(form);
                    formData.append("csrf_token","{{.CSRFToken}}");

                    fetch('/search-availability-json', {
                        method: "post",
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            console.log(data.ok);
                            console.log(data.message);
                        })
                }});
        });
    </script>
{{end}}